* Reset General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuración Fuente */
@font-face {
    font-family: "miFuente";
    src: url("../fonts/openSans.ttf");
}

/* Medidas de referencia HTML */
html {
    font-size: 100%;
    width: 100%;
    height: 100%;
}

/* Configuración del Body */
body {
    background: azure;
    font-family: miFuente;
    font-size: 100%;
}

.contenedorGeneral {
    width: 25%;
    height: 500px;
    border: 1px solid silver;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    border-radius: 5px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.contenedorGeneral > * {
    width: 90%;
}

.contenedorTitulo {
    border: none;
    flex: 0 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
}

.contenedorPantalla {
    flex: 0 0 20%;
    border: 1px solid silver;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Oculta el spinner de input numérico */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.contenedorTeclas {
    flex: 0 0 60%;
    border: 1px solid silver;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.pantalla {
    width: 90%;
    height: 80%;
    text-align: right;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    background: black;
    border: none;
}

.filas {
    flex: 1;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.btnTecla {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 1.5em;
    font-weight: bold;
}

.btnTecla:nth-last-child(1) {
    background: orange;
}

/* Responsive */
/* Celulares */
@media (max-width: 600px) {
    .contenedorGeneral {
        width: 60%;
    }
}